{% extends 'base_layout.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="articles">
        {% for article in articles %}
            <a href="{% url 'articles:detail' slug=article.slug %}">
                <div class="article">
                    <div class="article_information">
                        <h1>{{ article.title }}</h1>
                        <p>{{ article.snippet }}</p>
                    </div>
                    <p class="date">{{ article.date }}</p>
                    <p class="author">{{ article.author.username }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}